.post{
    width: 100%;
    max-width: 600px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 20px;
    box-sizing: border-box;
    .postHeading{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .postContent{
        font-size: 14px;
    }
}

.formContainer{
    padding: 50px 20px;
    max-height: 80vh;
    text-align: center;
    
    input{
      width: 100%;
      max-width: 400px;
      margin: 0 auto 20px auto;
      border-radius: 10px;
      padding: 5px 10px;
      font-size: 18px;
      display: block;
      box-sizing: border-box;
      border: 1px solid darkslategray;
    }
    textarea{
      width: 100%;
      max-width: 400px;
      height: 80px;
      margin: 0 auto 20px auto;
      border-radius: 10px;
      padding: 5px 10px;
      font-size: 18px;
      display: block;
      box-sizing: border-box;
      border: 1px solid darkslategray
    }
    input[type=submit]{
        width: 100%;
        max-width: 400px;
        margin-top: 40px;
        font-weight: 700;
        background-color: darkslategray;
        color: white;
        padding: 10px;
        &:hover{
            cursor: pointer;
        }
    }
    .notification{
        color: rgb(207, 29, 29);
        font-weight: 500;
    }
}