.post{
    width: 100%;
    max-width: 600px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 20px;
    box-sizing: border-box;
    .postHeading{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .postContent{
        font-size: 14px;
    }
}